@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Variables de fuentes */
  --font-outfit: 'Outfit', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

/* Clases para usar las fuentes donde quieras */
.font-outfit {
  font-family: var(--font-outfit);
}

.font-inter {
  font-family: var(--font-inter);
}

.bg-light{
  background-color: #F3F4F6;
}
